


.scroller{
    /* background-color: aqua; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 0;
    height: 40vh;
    margin-top: 100px;
}

.scroller::-webkit-scrollbar{
    display: none;
}

.scroller-in{
    display : inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller h4{
    display: inline-block;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    /* color: transparent; */
    transition: all linear 0.3s;
    margin-right: 30px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.logoImage{
    height: 110px;
    margin-left:100px;
    margin-right: 10px;
    /* padding: 0; */
}


.scroller h4:hover {
    color: #0045AB;
}




@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }